{% extends 'main.html' %}

{% block content %}
<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<div class="room-container">
  <div>
    <hr>
    <h1>Room Template</h1>
      <h2>{{room.name}} </h2>
  
      <p>{{ room.description }}</p>
  
      <div class="comment-wrapper">
        <h2>Conversation</h2>
        <hr>
        <div>
          {% for message in messages %}
           <p>@{{message.user}}   {{message.created | timesince}} ago</p> 
            <div>
              {{message.body}}
              <br><hr>
              <br>
            </div>
          {% endfor %}
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="comment-form">
        <form action="" method="post">
          {% csrf_token %}
          <input type="text" name="body" placeholder="Write your message...">
        </form> 
      </div>
      {% endif %}
  </div>
  <div>
    <h3>Participants</h3>
    <hr>
  </div>
</div>
  
{% endblock content %}